@import './variables'

.notosanskr-normal-black-14px
  color: $black
  font-family: "Noto Sans KR", Helvetica
  font-size: 14px
  font-style: normal
  font-weight: 400


.notosanskr-bold-white-16px
  color: $white
  font-family: "Noto Sans KR", Helvetica
  font-size: 16px
  font-style: normal
  font-weight: 700

.notosanskr-bold-white-20px
  color: $white
  font-family: "Noto Sans KR", Helvetica
  font-size: 20px
  font-style: normal
  font-weight: 700

.notosanskr-bold-white-24px
  color: $white
  font-family: "Noto Sans KR", Helvetica
  font-size: 24px
  font-style: normal
  font-weight: 700

.notosanskr-normal-white-14px
  color: $white
  font-family: "Noto Sans KR", Helvetica
  font-size: 14px
  font-style: normal
  font-weight: 400

.notosanskr-bold-black-18px
  color: $black
  font-family: "Noto Sans KR", Helvetica
  font-size: 18px
  font-style: normal
  font-weight: 700

.notosanskr-normal-white-10px
  color: $white
  font-family: "Noto Sans KR", Helvetica
  font-size: 8px
  font-style: normal
  font-weight: 400

.notosanskr
  font-family: "Noto Sans KR", Helvetica
  font-style: normal
  .white
    background-color: white
  .black
    background-color: black

.bold
  font-weight: 700
.normal
  font-weight: 400
.thin
  font-weight: 100

.xl
  font-size: 20pxx
.l
  font-size: 18px
.m
  font-size: 14px
.s
  font-size: 10px
.xs
  font-size: 8px
