$black: #000000
$bon-jour: #e1e1e1
$bon-jour-2: #e0e0e0
$geraldine: #ed8b85
$lily: #c49fbe
$nobel: #b6b4b4
$orange-yellow: #f7d16c
$pigeon-post: #b2c3e1
$pippin: #ffe0de
$quill-gray: #d2d2d2
$silver: #bdbdbd
$solitude: #e8f0ff
$tutu: #ffe7fb
$white: #ffffff
$font-size-l: 18px
$font-size-m: 12px
$font-size-xl: 20px
$font-family-noto_sans_kr: "Noto Sans KR", Helvetica